In [25]:
import pandas as pd
import numpy as np

## Q1. Pandas version

What version of Pandas did you install?

You can get the version information using the `__version__ field`:

In [2]:
pd.__version__

'2.3.2'

## Getting the data

For this homework, we'll use the Car Fuel Efficiency dataset. Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv).

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-29 12:02:38--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.03s

2025-09-29 12:02:38 (33.2 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [4]:
df = pd.read_csv('car_fuel_efficiency.csv')

## Q2. Records count

How many records are in the dataset?

* 4704
* 8704
* **9704**
* 17704

In [5]:
df.shape

(9704, 11)

## Q3. Fuel types

How many fuel types are presented in the dataset?

* 1
* **2**
* 3
* 4

In [6]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [7]:
df.fuel_type

0       Gasoline
1       Gasoline
2       Gasoline
3         Diesel
4       Gasoline
          ...
9699      Diesel
9700    Gasoline
9701      Diesel
9702      Diesel
9703      Diesel
Name: fuel_type, Length: 9704, dtype: object

In [8]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

## Q4. Missing values

How many columns in the dataset have missing values?

* 0
* 1
* 2
* 3
* **4**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [10]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

## Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

* 13.75
* **23.75**
* 33.75
* 43.75

In [11]:
df.origin == 'Asia'

0       False
1       False
2       False
3       False
4       False
        ...
9699    False
9700    False
9701    False
9702    False
9703     True
Name: origin, Length: 9704, dtype: bool

In [13]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

## Q6. Median value of horsepower

1. Find the median value of the `horsepower` column in the dataset.
2. Next, calculate the most frequent value of the same `horsepower` column.
3. Use the `fillna` method to fill the missing values in the `horsepower` column with the most frequent value from the previous step.
4. Now, calculate the median value of `horsepower` once again.
Has it changed?

* **Yes, it increased**
* Yes, it decreased
* No

In [15]:
df.horsepower.median()  # Find the median value of the horsepower column in the dataset.

np.float64(149.0)

In [18]:
df.horsepower.mode() # Next, calculate the most frequent value of the same horsepower column.

0    152.0
Name: horsepower, dtype: float64

In [28]:
horsepower = df.horsepower.fillna(152.0)
horsepower.median()

np.float64(152.0)

## Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?
> Note: You just implemented linear regression. We'll talk about it in the next lesson.
* 0.051
* **0.51**
* 5.1
* 51

In [36]:
df.loc[ df['origin'] == 'Asia', ['vehicle_weight', 'model_year'] ] # .loc accessor allows selection of data by label

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [38]:
df.loc[ df['origin'] == 'Asia', ['vehicle_weight', 'model_year'] ].head(7) # first seven rows

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [41]:
df.loc[ df['origin'] == 'Asia', ['vehicle_weight', 'model_year'] ].head(7).to_numpy() # convert to numpy array

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [49]:
X = df.loc[ df['origin'] == 'Asia', ['vehicle_weight', 'model_year'] ].head(7).to_numpy() # steps 1 - 4
XTX = X.T @ X # step 5  @ is NumPy's infix operator for matrix multiplication alternative np.matmul(X.T, X)
XTX_inverse = np.linalg.inv(XTX)  # step 6
y = np.array( [1100, 1300, 800, 900, 1000, 1100, 1200] ) # step 7
w = (XTX_inverse @ X.T) * y
w.sum()

np.float64(0.5187709081074016)